*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 62.5%;
}
body{
    background-color: white;
}
.navbar{
    width: 100%;
    height: 90px;
    padding:26px 14px;
    position:absolute;
    top:0;
    background-color: Black;
    color: White;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    font-size: 3.2rem;
    line-height: 3.8rem;
    font-family: 'Lato', sans-serif;
}
.hero{
    width: 100%;
    height: 1024px;
    display: flex;
    padding:0 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: Black;
    color: White;
}
.hero .hero-copy{
    font-size: 4.0rem;
    text-align: center;
    margin-bottom:50px;
}
.btn{
    width: 195px;
    height:57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight:600;
}
.hero-btn{
    background-color:white;
    color: black;
}
.mockup{
    width: 100%;
    height: 1024px;
}
.text-1, .text-2,.cta{
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logo{
    width:70px;
    height:70px;
}
.number{
    font-size:9rem;
}
.copy{
    font-size:3rem;
    text-align: center;
}
.text-2{
    background-color:black;
    color:white;
}
.cta p{
    font-size: 4.0rem;
    text-align: center;
    margin-bottom:50px;
    font-weight:400;
}
.cta-btn{
    background-color:black;
    color: white;
}